* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	height: 100%; 
}
::-webkit-input-placeholder {
    font-family: -apple-system-font,Helvetica Neue,sans-serif
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
}
body {
	height: 100%;
	line-height: 1.6;
	overflow-x: hidden;
    position: relative;
	font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
body iframe {
	display:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
a {
	text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
}
ol, ul {
	list-style: none;
}
img {
	border: 0;
    vertical-align: middle;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid #dcdcdc;
}
input:focus, textarea:focus {
	outline: none;
}
p {
	word-wrap: break-word;
    word-break: break-all;
}
/*
	浮动
*/
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom:1;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
/*
	其他
*/
.hidden {
    visibility: hidden;
}
.hide {
    display: none!important;
}
.img-circle {
	border-radius: 50%;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
	按钮
*/
.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
/*
	flex布局
*/
.flex {
    display: flex;
}
.flexitem {
    -moz-box-flex: 1;
    flex: 1 1 0;
}
/*
	错误提示
*/
#warning {
	position: fixed;
    z-index: 99000;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    text-align: center;
}
#warning > div > span {
	display: inline-block;
	background: rgba(0, 0, 0, 0.8);
	color: #f1f1f1;
    padding: 10px;
    line-height: 22px;
    border-radius: 4px;
    animation-name: ly-bounceIn;
	-webkit-animation-name: ly-bounceIn;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .18s;
	animation-duration: .18s;
	font-size: 15px;
	min-width: 232px;
	max-width: 300px;
}
@keyframes ly-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@-webkit-keyframes ly-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}