* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	height: 100%; 
}
::-webkit-input-placeholder {
    font-family: -apple-system-font,Helvetica Neue,sans-serif
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
}
body {
	height: 100%;
	line-height: 1.6;
	overflow-x: hidden;
    position: relative;
	font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
body iframe {
	display:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
a {
	text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
}
ol, ul {
	list-style: none;
}
img {
	border: 0;
    vertical-align: middle;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid #dcdcdc;
}
input:focus, textarea:focus {
	outline: none;
}
p {
	word-wrap: break-word;
    word-break: break-all;
}
/*
	浮动
*/
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom:1;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
/*
	其他
*/
.hidden {
    visibility: hidden;
}
.hide {
    display: none!important;
}
.img-circle {
	border-radius: 50%;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
	按钮
*/
.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
/*
	flex布局
*/
.flex {
    display: flex;
}
.flexitem {
    -moz-box-flex: 1;
    flex: 1 1 0;
}
/*
	错误提示
*/
#warning {
	position: fixed;
    z-index: 99000;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    text-align: center;
}
#warning > div > span {
	display: inline-block;
	background: rgba(0, 0, 0, 0.8);
	color: #f1f1f1;
    padding: 10px;
    line-height: 22px;
    border-radius: 4px;
    animation-name: ly-bounceIn;
	-webkit-animation-name: ly-bounceIn;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .18s;
	animation-duration: .18s;
	font-size: 15px;
	min-width: 250px;
	max-width: 300px;
}
@keyframes ly-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@-webkit-keyframes ly-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
/*
	加载中
*/
.mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.toast {
    position: fixed;
    z-index: 5;
    width: 2.4rem;
    min-height: 2.4rem;
    top: 50%;
    left: 50%;
    background: hsla(0,0%,7%,.7);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 0.32rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.toast .icon-loading {
    margin: 30px 0 0;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
    display: inline-block;
    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;
    background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
	background-size: 100%;
}
.toast .toast_content {
    margin: 0 0 15px;
}
@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}